<h1> THIS IS USER SIGN UP</h1>

<% unless locals.empty? %>
  <%= message %>
<% end %>

<h2>Enter Information to Sign Up</h2>
<form action="/signup" method="POST">
  <p>Email: <input type="text" name="email"></p>
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit" value="submit">
</form>